@font-face {
    font-family: "Mona Sans";
    src: url("https://assets.codepen.io/64/Mona-Sans.woff2") format("woff2 supports variations"),
    url("https://assets.codepen.io/64/Mona-Sans.woff2") format("woff2-variations");
    font-weight: 100 1000;
}

@property --hue {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

/* Styles pour le composant */
.animatedTextCard {
    width: min(480px, 35vw);
    aspect-ratio: 1.5 / 1;
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    border-radius: 3.6vw;
    cursor: pointer;
    background-color: hsl(260deg 100% 3%);
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.animatedTextCard > div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3.24vw; /* 90% de 3.6vw */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Mona Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: clamp(1.5vw, 1.5vmin, 32px);
    color: hsl(260deg 10% 55%);
    padding: calc(35vw / 8);
    text-align: center;
}

.animatedTextCard span {
    display: inline-block;
    padding: 0.25em;
    border-radius: 4px;
    background: hsl(260deg 10% 55%);
    color: black;
    margin-right: 8px;
    font-weight: 900;
}

.glow {
    position: absolute;
    width: calc(35vw / 5);
    height: calc(35vw / 5);
    animation: rotate 4s linear infinite;
    transform-origin: center;
    border-radius: 10vw;
    background: hsl(0, 100%, 60%);
    filter: blur(6px);
    opacity: 0.6;
}

/* Keyframes et animations */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
