.portfolio {
    padding: 2rem;
}

.grid {
    display: grid;
    /* 2 colonnes de 1fr */
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    gap: 1.5rem;
}

.card {
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #161616;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}
